<div class="navbar">
	<div class="border">
		<%= render_elements only: 'navbar' %>
	</div>
	<div class="menu">
		<%= link_to image_tag('vi-logo.png', :class => 'logo'), '/home' %>
		<ul>
			<li><%= link_to 'Educación', nil %></li>
			<li><%= link_to 'Empresas', '/companies' %></li>
			<li><%= link_to 'Equipo', '/team' %></li>
			<li><%= link_to 'Plataformas', '' %></li>
			<li><%= link_to 'Noticias', '' %></li>
		</ul>
	</div>
</div>