<%= element_view_for(element) do |el| -%>
	<div class="<%= el.render(:category).downcase.gsub(' ', '_') %> <%= el.render(:platform).downcase %> <%= el.render(:generation) %>">
		<div class="info">
			<div>
				<div class="contact">
					<% unless el.render(:twitter).blank? %>
			  		<p><%= link_to "<i class='icon-twitter'></i>".html_safe, el.render(:twitter), :target => "_blank" %></p>
					<% end %>
					<% unless el.render(:facebook).blank? %>
			  		<p><%= link_to "<i class='icon-facebook'></i>".html_safe, el.render(:facebook), :target => "_blank" %></p>
					<% end %>
					<% unless el.render(:email).blank? %>
						<p><a href="mailto:<%= el.render(:email) %>"><%= "<i class='icon-mail'></i>".html_safe %></a></p>
					<% end %>
					<% unless el.render(:webpage).blank? %>
			  		<p><%= link_to "<i class='icon-globe'></i>".html_safe, complete_url(el.render(:webpage)), :target => "_blank" %></p>
					<% end %>
			  </div>
				<div class="pic"><%= el.render :image, :image_size => '200x200' %></div>
				<div class="title"><%= el.render :name %></div>
			</div>
		</div>
	  <div class="details"><%= el.render :description %></div>
	</div>
<%- end -%>
