<%= element_view_for(element) do |el| -%>
	<ul>
		<li><%= link_to el.render(:first_item_text), el.render(:first_item_url), :target => "_blank" %></li>
		<li class="text"><%= link_to el.render(:second_item_text), el.render(:second_item_url), :target => "_blank" %></li>
		
		<% unless el.render(:linked_in).blank? %>
			<li><%= link_to "<i class='icon-linkedin'></i>".html_safe, el.render(:linked_in), :target => "_blank" %></li>
		<% end %>
		<% unless el.render(:facebook).blank? %>
			<li><%= link_to "<i class='icon-facebook'></i>".html_safe, el.render(:facebook), :target => "_blank" %></li>
		<% end %>
		<% unless el.render(:twitter).blank? %>
			<li><%= link_to "<i class='icon-twitter'></i>".html_safe, el.render(:twitter), :target => "_blank" %></li>
		<% end %>
		<% unless el.render(:email).blank? %>
			<li><%= mail_to el.render(:email), "<i class='icon-mail'></i>".html_safe %></li>
		<% end %>
	</ul>
<%- end -%>
