<%= element_view_for(element, :class => 'notice') do |el| -%>
	<div class="small"><%= el.render :image %></div>
	<div class="large">
    <p class="name"><%= el.render :title %></p>
		<p class="date"><%= distance_of_time_in_words(el.content(:date).ingredient, DateTime.now) %></p>
		<p class="content"><%= el.render :content %></p>
  </div>
<%- end -%>
