<%= element_view_for(element, :id => 'open-call') do |el| -%>
	<div class="container">
	  <p class="title" style="color: <%= el.render :title_color %>"><%= el.render :title %></p>
		<div class="hidden"><%= el.render :image %></div>
	
	  <div class="content">
	    <span style="color: <%= el.render :details_color %>"><%= el.render :details %></span>
			<br/>
			<% if el.render(:button_visible_one).eql?("true") %>
				<br/>
				<%= link_to el.render(:button_content_one), el.render(:button_link_one) , :class => 'action-button', :target => "_blank" %>
			<% end %>
			<% if el.render(:button_visible_two).eql?("true") %>
				<%= link_to el.render(:button_content_two), el.render(:button_link_two) , :class => 'action-button', :target => "_blank" %>
			<% end %>
	  </div>
	</div>
<%- end -%>
